
<%=content_for :content do%>
	<div style="float: right">     
     <%=form_for :search,remote:true do |f| %>
        
        <%=f.text_field :key,placeholder:"Search" %>
        <%=f.submit "Tìm Kiếm",id:"search_news",class:"btn btn-default" %>
     <%end%>
  </div>
                        <div class="alert alert-success" style="margin-top: 30px">Danh Sách Người Dùng <span class="badge"><%=@users.size%></span></div>
                        <div class="table-responsive" id="news-table">
                            <div id="table-user">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>lần đăng nhập</th>
                                            <th>role</th>
                                            <th>Created_at</th>
                                            <th>Updated_at</th>
                                            <th colspan="2">Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                   <%if @users.size >0%>
                                    <% @users.each do |user| %>
    									 <tr>
                                            <td><%=user.name%></td>
                                            <td><%=user.email%></td>
                                            <td><%=user.sign_in_count%></td>
                                            <td class="role">
                                                <div id="role-user"><%=user.role%></div>
                                                <div id="role-area" data-id="<%=user.id%>">
                                                    <textarea id="user-area"><%=user.role%></textarea>
                                                </div>
                                            </td>           
                                            <td><%=user.created_at%></td>
                                            <td><%=user.updated_at%></td>
                                            <td><%=button_to admin_delete_path(user),method:"delete",class:"btn btn-danger",data: {confirm:"Bạn có chắc chắn muốn xóa"} do%>
                                             <span class="glyphicon glyphicon-trash"></span>
                                                <%end%>
                                            </td>
                                            <td><%=button_to admin_edit_path(user),method:"get",class:"btn btn-success" do%>
                                             <span class="glyphicon glyphicon-edit"></span>
                                                <%end%>
                                            </td>
                                        </tr>  
                                    <%end%>
                                    <%else%>
                                    <tr>
                                        <td colspan="7">Không có bài viết nào</td>
                                    </tr>
                                    <%end%>
                                    </tbody>
                                </table>
                            </div>
                            <div style="text-align: center;">
                            <%=will_paginate(@users,:params=>{action:"index" })%>
                            </div>
                    </div>

                    
                <!-- /.row -->
<%end%>
