<%content_for :content do %>
	<ul>
	
	</ul>
	<div class="col-lg-6">
	<%@arr=["tin tuc",1],["the thao",2] %>

	<%=form_for :category, url: {action:"update"},method: "put" do |f| %>
		<%=f.label :name %>
		<%=f.text_field :name,class: "form-control" %>
		<%=f.label :slug %>
		<%=f.text_field :slug,class: "form-control" %>
		<%=f.label :description %>
		<%=f.text_field :description,class: "form-control" %>
		<%=f.submit "Update",class: "btn  btn-default" %>
		<%Category.all do |cat|%>
		<% array=[cat.name,cat.id]%>
		<%end%>
	<%= f.select(:parent, options_for_select([["Parent",0]]),class:"form-control") %>
	<%end%>
	</div>

	<%end%>
	
	
	
