<%content_for :content do %>
	<%def dequy(parent=0,char="")
            @category=Category.all
            @children=[]  
            @category.each do |cat|
                if cat.parent==parent
                    @children.push(cat)	
                end	
            end %>
            <% char+="-- "%>
            <% char="" if parent==0 %>
            <% @children.each do |value,key|
                %>     	
              <%=raw "<option value='#{value.id}' >" %>
                <%=char+value.name%>
              <%=raw '</option>' %>
                <% dequy(value.id,char=char) %>
            <%end %>
	<%end%> 
	<ul>
	</ul>
	<div class="col-lg-6">
	<%unless notice.nil?%>
		<div class="alert alert-success">
	  	<strong><%=notice%></strong>
		</div>
	<%end%>
	<%=form_for :category, url: {action:"save"} do |f| %>
		<%=f.label :name %>
		<%=f.text_field :name,class: "form-control" %>
		<%=f.label :slug %>
		<%=f.text_field :slug,class: "form-control" %>
		<%=f.label :description %>
		<%=f.text_field :description,class: "form-control" %>
		<%=raw "<select name='category[parent]' id='parent' class='form-control'>"%>  
		<option value='0'>Select Parent</option>                
		<%= dequy%>
		<%=raw "</select>"%>  
		<%=f.submit "Create",class: "btn  btn-default" %>
		<% 
		Category.all.each do |cat|%>
		<% 
		@array=[cat.name,cat.id]%>	
		<%end%>	
	<%end%>
	</div>
<div class="col-lg-6">
	<%Category.all.each do |c,key| %>
		<% if c.parent == 0   %>	
		<%end%>
	<%end%>
	<table  width="100%" class="table table-bordered">
		<tr>
			<th>Tên</th>
			<th>Slug</th>
			<th>Parent</th>
			<th>Số bài viết</th>
			<th colspan="2">Thao Tác</th>
		</tr>
		<% if Category.all.size==0 %>
		<td colspan="5">Không Tồn Tại</td>
		<%end%>
		<%@phantrang=paginate(12,admin_category_path(),Category)%>    
        <%@phantrang[:query].order('id desc').each do |c,key| %>
		<tr>
			<td><%=c.name %></td>
			<td><%=c.slug %></td>
			<td><%=c.parent %></td>
			<td><%=New.where(category_id:c.id).size %></td>
			<td ><%=  button_to admin_category_delete_path(c.id),method: "delete",data: {confirm:'Are you sure you want to delete this password?'},class:"btn btn-danger"  do%>
				<span class="glyphicon glyphicon-trash"></span>
				<%end%>		
			</td>
			<td><%=button_to admin_category_edit_path(c),class:"btn btn-success",method:"get" do%>
                <span class="glyphicon glyphicon-edit"></span>
				<%end%>
			</td>
		</tr>
		<%end%>
	</table>
	<div class="col-xs-12" style="text-align: center;">  
        <ul class="pagination" >
            <%@phantrang[:link].each do |url|%>
            <%=url %>
            <%end%>
        </ul>
     </div>
</div>
	<%end%>

	
	
	
	
