 <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Slug</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Created_at</th>
                                        <th>Updated_at</th>
                                        <th colspan="2">Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                               <%if @news.size >0%>
                                <% @news.order('id desc').each do |new| %>
									 <tr>
                                        <td><%=new.title%></td>
                                        <td><%=new.slug%></td>
                                        <td><%=new.description%></td>
                                        <td><%=Category.find(new.category_id).name %></td>
                                        <td><%=new.created_at%></td>
                                        <td><%=new.updated_at%></td>
                                        <td><%=button_to admin_delete_path(new),method:"delete",class:"btn btn-danger",data: {confirm:"Bạn có chắc chắn muốn xóa"} do%>
                                         <span class="glyphicon glyphicon-trash"></span>
                                            <%end%>
                                        </td>
                                        <td><%=button_to admin_edit_path(new),method:"get",class:"btn btn-success" do%>
                                         <span class="glyphicon glyphicon-edit"></span>
                                            <%end%>
                                        </td>
                                    </tr>  
                                <%end%>
                                <%else%>
                                <tr>
                                    <td colspan="7">Không có bài viết nào</td>
                                </tr>
                                <%end%>
                                </tbody>
                            </table>
                            <div style="text-align: center;">
                            <%= will_paginate @news %>
                            </div>