<%content_for :content do %>
<div class="col-lg-8">
	

<h1>Thêm Bài Viết Mới</h1>

<%=form_for :news,url: {action:"update"},method: "PUT" do |f| %>
	
	    <%=f.label :title %>
 	    <%= f.text_field :title,class: "form-control" %>
     <div class="field">
        <%=f.label :noi_bat,"Noi bat" %>
        <%=f.check_box :noi_bat%>
    </div>
    <div class="field">
        <%=f.label :description %>
        <%= f.text_field :description,class: "form-control" %>
    </div>
	<div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content,class: "ckeditor" %>
	</div>
  <%= f.submit "Create",class:"btn btn-default" %>
  </div>
  <div class="col-lg-4">
 <%  def dequy(parent,char)
            @category=Category.all
            @children=[]
            if parent.nil?
                parent=parent
            end
            @category.each do |cat|
                if cat.parent==parent
                    @children.push(cat)
                end
            end %>
            <%=raw "<ul>" %>
            <% @children.each do |value,key|
                %>
                <input type="checkbox" name="news[category_id]" value="<%=value.id%>" <%="checked" if value.id==@news.category_id %> >
                <label for="category_id"><%=value.name%></label>
                <% dequy(value.id,char="")
                @children.delete(key)
            end %>
            <%=raw "</ul>" %>
            <% return @children if @children.nil? 
        end%>                   
	<%= dequy(0,"")%>	
	</div>
	<% end%>
<%end%>
<% New.find_each(start: 100) do |new| %>
<%=new.title%>

<%end%>
