<%content_for :content do%>
    <div class="container">
        <div class="row">
           <div class="col-md-3 ">
                <ul class="list-group" id="menu">
                    <li href="#" class="list-group-item menu1 active">
                        Menu
                    </li>
                    <%@category_parent.each do |cat|%>
                    <li href="" class="list-group-item menu1">
                    <a href ><%=cat.name %></a>
                    </li>
                    <ul>
                    <!-- catChildren ở trong fontend_helper -->
                    <%catChildren(cat.id).each do |y| %> 
                        <li class="list-group-item">
                            <a href="<%=fontend_category_path(category:y.slug)%>"><%=y.name%></a>
                        </li>
                        <%end%>
                    </ul>
                    <%end%>
                </ul>
            </div>
            <div class="col-md-9 ">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#337AB7; color:white;">
                        <h4><b>Panel heading without title</b></h4>
                    </div>
                   
                    <%@new_in_category.each do |new| %>
                     <div class="row-item row">
                        <div class="col-md-3">

                            <a href="detail.html">
                                <br>
                                <img width="200px" height="200px" class="img-responsive" src="image/320x150.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <h3><%=new.title%></h3>
                            <p><%=new.description%></p>
                            <a class="btn btn-primary" href="<%=fontend_detail_path(:category=>"#{categorySlug(new.category_id)}",:slug=>"#{new.slug}")%>">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                        <div class="break"></div>
                    </div>
                    <%end%>
                    <div style="text-align: center">
                        <%=will_paginate @new_in_category%>
                    </div>   
                </div>
            </div> 
        </div>
    </div>
<%end%>