<%@assets="/assets"%>
<%content_for :content do%>
<%back(request.url)%>
<% def homepage(category) %>
    <% @array=Array.new() %>
    <% @category.each do |cat| %>
    <% @array.push([cat,Category.where(parent:cat.id)]) %>
    <%end%>
    <%return @array%>
<%end%>
<% @home=homepage(Category.where(parent:0)) %>

    <!-- Page Content -->
    <div class="container">

    	<!-- slider -->
    	<div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide-image" src="<%=@assets%>/800x300.png" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="<%=@assets%>/800x300.png" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="<%=@assets%>/800x300.png" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end slide -->

        <div class="space20"></div>


        <div class="row main-left">
            <div class="col-md-3 ">
                <ul class="list-group" id="menu">
                    <li href="#" class="list-group-item menu1 active">
                    	Menu
                    </li>
                    <%@home.each do |x|%>
                    <li href="#" class="list-group-item menu1">
                    <%=x[0].name %>
                    </li>
                    <ul>
                    <%x[1].each do |y| %>
                		<li class="list-group-item">
                			<a href="<%=fontend_category_path(category:x[0].slug)%>"><%=y.name%></a>
                		</li>
                        <%end%>
                    </ul>
                    <%end%>
                </ul>
            </div>

            <div class="col-md-9">
	            <div class="panel panel-default">            
	            	<div class="panel-heading" style="background-color:#337AB7; color:white;" >
	            		<h2 style="margin-top:0px; margin-bottom:0px;">Tin Tức</h2>
	            	</div>

	            	<div class="panel-body">
	            		<!-- item -->
	            	    <%@home.each do |x|%>
					    <div class="row-item row">
		                	<h3>
		                		<a href="category.html"><%=x[0].name %></a> | 	
                                <%x[1].each do |y| %>
		                		<small><a href="category.html"><i><%=y.name %></i></a>/</small>
		                		<%end%>
		                	</h3>
		                	<div class="col-md-8 border-right">
		                		<div class="col-md-5">
			                        <a href="detail.html">
			                            <img class="img-responsive" src="<%=@assets%>/320x150.png" alt="">
			                        </a>
			                    </div>

			                    <div class="col-md-7">
			                        <h3>Project Five</h3>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident .</p>
			                        <a class="btn btn-primary" href="detail.html">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>

		                	</div>
		                    

							<div class="col-md-4">
                            <%x[1].each do |y| %>
                                <%New.where(category_id:y.id).limit(5).order("id desc").each do |new| %>
								<a href="<%=fontend_detail_path(category:y.slug,slug:new.slug)%>">
									<h4>
										<span class="glyphicon glyphicon-list-alt"></span>
										<%=new.title%>
									</h4>
								</a>
                                <%end%>
                           <%end%>
							<!-- 	<a href="detail.html">
									<h4>
										<span class="glyphicon glyphicon-list-alt"></span>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</h4>
								</a>

								<a href="detail.html">
									<h4>
										<span class="glyphicon glyphicon-list-alt"></span>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</h4>
								</a>

								<a href="detail.html">
									<h4>
										<span class="glyphicon glyphicon-list-alt"></span>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</h4>
								</a> -->
							</div>
							 
							<div class="break"></div>
		                </div>
                         <%end%>
		                <!-- end item -->
		                <!-- item -->

					</div>
	            </div>
        	</div>
        </div>
        <!-- /.row -->
    </div>
    <!-- end Page Content -->

    <!-- Footer -->
    <hr>

<%end%>

