<%@news.each do |new|%>
	<div class="col-md-12 border-right record" data-id="<%= new.id %>">
		<div class="col-md-3">
	        <a href="<%=fontend_detail_path(category:categorySlug(new.category_id),slug:new.slug)%>">
	            <img class="img-responsive" src="<%=@assets%>/320x150.png" alt="">
	        </a>
	    </div>
	    <div class="col-md-9">
	        <h3><%=new.title%></h3>
	        <p><%=new.description%></p>
	        <a class="btn btn-primary" href="<%=fontend_detail_path(category:categorySlug(new.category_id),slug:new.slug)%>">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
	<div class="break"></div>
<%end%>